#actually mysql values
# commented out to avoid errors while testing with unresolved

#max_allowed_packet = ^^mariadb.max_allowed_packet^^
#event_scheduler = ^^mariadb.event_scheduler^^
#sql_mode = ^^mariadb.sql_mode^^
#local_infile = ^^mariadb.local_infile^^
#innodb_buffer_pool_size = ^^mariadb.innodb_buffer_pool_size^^
